# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

.vscode/
.idea/
bin/
.*.sw*
template/
version
cquery_log.txt
compile_commands.json
.ccls-cache/
.ccls
temp.log
temp.errors
.d/
.clangd/
.cache/